@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-sos-flash: sos-flash 1s ease-in-out infinite;

  @keyframes sos-flash {
    0%, 100% {
      border-color: var(--color-red-600);
      box-shadow: -5px 0 15px -3px rgba(220, 38, 38, 0.6);
    }
    50% {
      border-color: var(--color-red-300);
      box-shadow: -2px 0 5px -3px rgba(220, 38, 38, 0.2);
    }
  }
}
